################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/core-b2c-webapp/obj
